<!DOCTYPE html>
<html lang="ja" dir="ltr">
<head>
  <meta charset="utf-8">
  <title>AI Othello</title>
  <style>
    body{
      width:100%;
      text-align: center;
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
    }
    div{
      width:100%;
    }
    td{
      width:7vw;
      height:7vw;
      font-size:5vw;
      background:green;
      text-align: center;
      vertical-align: middle;
      margin: 20px;
    }
    table{
      display: inline-block;
      text-align: center;
      background:#553322;
    }
  </style>
  <script>
    const get_from_AI = async(url,element) => {
      const select_from_server = await fetch(url)
      .then(response => response.text())
      const target = document.getElementById(element)
      var data = `${select_from_server}`
      console.log("data > ")
      console.log(data)
      target.innerHTML = `${select_from_server}`
    }
    const send_for_AI = async(url,element) => {
      console.log("AA")
      const id = document.getElementById(element)
      console.log("BB")
      const data = id.innerHTML
      console.log(data)
      const board_for_server = await fetch(url)
      .then(send => send.text(data))
      console.log("EE")
    }
  </script>
  <script>
    var me ="b";
    var you="w"
    var table; //
    var othelloObj; //
    var sum;
    var turn=2;
    var cannnotPlay= 0;
    var optimal=[['30','-12','0','-1','-1','0','-12','30'],
                 ['-12','-15','-3','-3','-3','-3','-15','-12'],
                 ['0','-3','0','-1','-1','0','-3','0'],
                 ['-1','-3','-1','-1','-1','-1','-3','-1'],
                 ['-1','-3','-1','-1','-1','-1','-3','-1'],
                 ['0','-3','0','-1','-1','0','-3','0'],
                 ['-12','-15','-3','-3','-3','-3','-15','-12'],
                 ['30','-12','0','-1','-1','0','-12','30']]
    window.onload =function(){
      //unchoice();
      getElements();
      othelloInit();
      drawObj();
      choice();
      turn=1;
    }
    function getElements(){
      var tableObj = document.getElementsByTagName('tbody')[0];
      table = new Array(8);
      for (var i=0;i<8;i++){
        table[i] = new Array(8);
        //console.log(tableObj.children);
        for (var j=0;j<8;j++){
          table[i][j] = tableObj.children[i].children[j];
          table[i][j].setAttribute("x",i);
          table[i][j].setAttribute("y",j);
          table[i][j].addEventListener("click",clicks,false);
        }
      }
    }//クリック座標取得宣言？
    function othelloInit(){
      othelloObj = new Array(8);
      //console.log(othelloObj);
      for(var i=0;i<8;i++){
        othelloObj[i] = new Array(8);
        for(var j=0;j<8;j++){
          othelloObj[i][j] ="";

        }
        //console.log(othelloObj[i]);

      }
      othelloObj[3][3]="b";
      othelloObj[4][4]="b";
      othelloObj[3][4]="w";
      othelloObj[4][3]="w";
      sum = {b:0,w:0};
    }//初期配置化
    function choice(){//選択可能表示
      for(var i=0;i<8;i++){
        for(var j=0;j<8;j++){
          if(checkothello(i,j,me,othelloObj)){
            document.getElementById("c"+i+j).style.backgroundColor="#efff00";
          }
        }
      }
    }
    function unchoice(){//選択可能・選択履歴表示リセット
      for(var i=0;i<8;i++){
        for(var j=0;j<8;j++){
            document.getElementById("c"+i+j).style.backgroundColor="green";
        }
      }
    }
    function drawObj(){
      sum = {b:0,w:0};
      for(var i=0;i<8;i++){
        for(var j=0;j<8;j++){
          switch(othelloObj[i][j]){
            case "b":
            table[i][j].style.color = "#111";
            table[i][j].innerHTML = "●";
            sum.b++;
            break;
            case "w":
            table[i][j].style.color = "#EEE";
            table[i][j].innerHTML = "●";
            sum.w++;
            break;
            default:
            table[i][j].innerHTML = "";
            table[i][j].style.color = "";

          }
        }
      }
      document.getElementById("stat").children[0].innerHTML = "黒："+sum.b+" 白："+sum.w;
    }//盤面黒白反映
    var clicks = function(e){
      if(turn==1){
        //console.log(e);
        var i= e.target.getAttribute("x");
        var j= e.target.getAttribute("y");
        //console.log(i);
        //console.log(j);
        //console.log(othelloObj);
        if(othelloObj[i][j]!=""){
          alert("ここには置けないぞぃ！");
        }else{
          if(checkothello(i,j,me,othelloObj)){
            unchoice();
            turn=2;
            //othelloObj[i][j]=me;//暫定
            console.log('player:(i,j)=('+i+','+j+')');
            returnOthello(i,j,me);
            drawObj();
            /*
            if(!cannotNextPlay(you)){
            setTimeout(AI,400);
          }else if(cannotNextPlay(me)){
          //console.log("click");
          judge();
        }*/
          }else{
            alert("ここには置けないぞぃ！");
          }
        }
        drawObj();
      }
      if(turn==2){
        if(!cannotNextPlay(you)){
          drawObj();
          document.getElementById('message').innerHTML="CPU考え中…";
          AI();
        }else if(cannotNextPlay(me)){
          judge();
        }else{
          turn=1;
        }
      }
    }
    function resetOthello(){//試合開始準備
      unchoice();
      othelloInit();
      drawObj();
      choice();
    }
    function checkothello(i,j,col,o){
      //var o = othelloObj;
      var N= new Array();
      var S= new Array();
      var E= new Array();
      var W= new Array();
      var NE= new Array();
      var SE= new Array();
      var NW= new Array();
      var SW= new Array();
      if(o[i][j]!="") return 0;
      for(var x=i;x>=0;x--){
        N.push(o[x][j]);
      }
      for(var x=i;x<8;x++){
        S.push(o[x][j]);
      }
      for(var x=j;x<8;x++){
        E.push(o[i][x]);
      }
      for(var x=j;x>=0;x--){
        W.push(o[i][x]);
      }
      for(var x=i, y=j;x>=0 && y<8 ;x--,y++){
        NE.push(o[x][y]);
      }
      for(var x=i, y=j;x<8 && y<8 ;x++,y++){
        SE.push(o[x][y]);
      }
      for(var x=i, y=j;x>=0 && y>=0 ;x--,y--){
        NW.push(o[x][y]);
      }
      for(var x=i, y=j;x<8 && y>=0 ;x++,y--){
        SW.push(o[x][y]);

      }
      var distance={N:N,E:E,W:W,S:S,NE:NE,SE:SE,NW:NW,SW:SW};
      var flag = [];

      for (var dist in distance){
        if(distance[dist].length==1){
        }
        else if(distance[dist][1]!=col){
          let p=1;
          while(distance[dist][p]!=col&&distance[dist][p]!=""&&p<distance[dist].length-1){
            p++;
          }
          if(distance[dist][p]==col){
            flag.push(dist);
          }
        }
      }
      if(flag.length==0) return false;
      return flag;
    }//選択手可不可判定
    function returnOthello(i,j,col){
      var dist= checkothello(i,j,col,othelloObj);
      for (var way in dist){
        let x=i,y=j;
        othelloObj[x][y]=col;
        while(othelloObj[x][y]!=col||(x==i&&y==j)){
          othelloObj[x][y]=col;
          switch(dist[way]){
            case "E":
              y++;
              break;
            case "W":
              y--;
              break;
            case "N":
              x--;
              break;
            case "S":
              x++;
              break;
            case "NE":
              x--;
              y++;
              break;
            case "SE":
              x++;
              y++;
              break;
            case "NW":
              x--;
              y--;
              break;
            case "SW":
              x++;
              y--;
              break;
          }
        }
      }
    }//選択手反映
    function createdemo(i,j,col,o,d){//擬似盤面作成
      var dist= checkothello(i,j,col,o);
      for (var way in dist){
        let x=i,y=j;
        d[x][y]=col;
        while(d[x][y]!=col||(x==i&&y==j)){
          d[x][y]=col;
          switch(dist[way]){
            case "E":
              y++;
              break;
            case "W":
              y--;
              break;
            case "N":
              x--;
              break;
            case "S":
              x++;
              break;
            case "NE":
              x--;
              y++;
              break;
            case "SE":
              x++;
              y++;
              break;
            case "NW":
              x--;
              y--;
              break;
            case "SW":
              x++;
              y--;
              break;
          }
        }
      }
    }
    function Evaluation(o){
      //if((sum.b+sum.w)<60){
        var myscore=0;
        var yourscore=0;
        for(var i=0;i<8;i++){
          for(var j=0;j<8;j++){
            if(o[i][j]=='w'){
              myscore=myscore+parseInt(optimal[i][j]);
            }else if(o[i][j]=='b'){
              yourscore=yourscore+parseInt(optimal[i][j]);
            }
          }
        }
        var x=myscore-yourscore;
      return x;
    }
    function AI(){

      //暫定的にランダムに戻しとく
      i = Math.floor(Math.random()*8);
      j = Math.floor(Math.random()*8);
      while(!checkothello(i,j,you,othelloObj)){
      i = Math.floor(Math.random()*8);
      j = Math.floor(Math.random()*8);
      console.log(i+","+j);
    }///乱数
    //unchoice();
    //if(cannotNextPlay(you)){break;}
    var count=0;
    var cost=0;
    console.log("<This is othelloObj>");
    console.log(othelloObj);
    send_board = new Array(8);
    //console.log(othelloObj);
    for(var a=0;a<8;a++){
      send_board[a] = new Array(8);
    }

    for(var y=0; y<8; y++){
      for(var x=0; x<8; x++){
        if(othelloObj[y][x]==""){
          send_board[y*8+x]=0;
        }else if(othelloObj[y][x]=="b"){
          send_board[y*8+x]=1;
        }else if(othelloObj[y][x]=="w"){
          send_board[y*8+x]=2;
        }else{
          console.log("send_board:ERROR");
        }
      }
    }
    console.log("<This is send_board>");
    console.log(send_board);
    send_for_AI('/lux','server');
    var select_from_server = get_from_AI('/lux','server');
    console.log('select_from_server:'+select_from_server)
    console.log('cpu:(i,j)=('+i+','+j+')');
    returnOthello(i,j,you);
    turn=1;
    drawObj();
    document.getElementById("c"+i+j).style.backgroundColor="#00bfff";
    document.getElementById('message').innerHTML="あなたの番です。";
    /*
    if(cannotNextPlay(me)){
      if(cannotNextPlay(you)) judge();
      else AI();
    }*/
    if(cannotNextPlay(me)){
      if(cannotNextPlay(you)){
        judge();
      }else{
        turn=2;
        alert("あなたはどこにも置くことが出来ません(-_-)zzz");
        AI();
      }
    }else if(turn==1){
      choice();
    }
  }
  function cannotNextPlay(nextCol){
    for(var i=0;i<8;i++){
      for(var j=0;j<8;j++){
        if(checkothello(i,j,nextCol,othelloObj)!=false) return false;
      }
    }
    return true;
  }
  function judge(){
    setTimeout(()=>{
      if(sum[me]<sum[you]){
        alert("君の負けですぅうぅう　m9(^ω^) < ﾌﾟｷﾞｬｰwwww");
        lose++;
        document.getElementById('lose').innerHTML++;
      }
      else if(sum[me]==sum[you]){
        alert("引き分けですね。この程度ですか？www");
        document.getElementById('draw').innerHTML++;
        draw++;
      }
      else{
        alert("君の勝ち！おめでとう！！！(;_;) < ﾎﾞｸ ,ﾏｹﾀ...");
        document.getElementById('win').innerHTML++;
        win++;
      }
    },200);
  }
</script>
</head>
<body>
  <div>
    <p id="message">あなたは黒です。置く場所を選択してください。</p>
    <span id="server">2020/02/01 12:00:00,55</span>
  </div>
  <div id="othello">
    <table>
      <tbody>
        <tr>
          <td id="c00"></td>
          <td id="c01"></td>
          <td id="c02"></td>
          <td id="c03"></td>
          <td id="c04"></td>
          <td id="c05"></td>
          <td id="c06"></td>
          <td id="c07"></td>
        </tr>
        <tr>
          <td id="c10"></td>
          <td id="c11"></td>
          <td id="c12"></td>
          <td id="c13"></td>
          <td id="c14"></td>
          <td id="c15"></td>
          <td id="c16"></td>
          <td id="c17"></td>
        </tr>
        <tr>
          <td id="c20"></td>
          <td id="c21"></td>
          <td id="c22"></td>
          <td id="c23"></td>
          <td id="c24"></td>
          <td id="c25"></td>
          <td id="c26"></td>
          <td id="c27"></td>
        </tr>
        <tr>
          <td id="c30"></td>
          <td id="c31"></td>
          <td id="c32"></td>
          <td id="c33"></td>
          <td id="c34"></td>
          <td id="c35"></td>
          <td id="c36"></td>
          <td id="c37"></td>
        </tr>
        <tr>
          <td id="c40"></td>
          <td id="c41"></td>
          <td id="c42"></td>
          <td id="c43"></td>
          <td id="c44"></td>
          <td id="c45"></td>
          <td id="c46"></td>
          <td id="c47"></td>
        </tr>
        <tr>
          <td id="c50"></td>
          <td id="c51"></td>
          <td id="c52"></td>
          <td id="c53"></td>
          <td id="c54"></td>
          <td id="c55"></td>
          <td id="c56"></td>
          <td id="c57"></td>
        </tr>
        <tr>
          <td id="c60"></td>
          <td id="c61"></td>
          <td id="c62"></td>
          <td id="c63"></td>
          <td id="c64"></td>
          <td id="c65"></td>
          <td id="c66"></td>
          <td id="c67"></td>
        </tr>
        <tr>
          <td id="c70"></td>
          <td id="c71"></td>
          <td id="c72"></td>
          <td id="c73"></td>
          <td id="c74"></td>
          <td id="c75"></td>
          <td id="c76"></td>
          <td id="c77"></td>
        </tr>
      </tbody>
    </table>
  </div>
  <div id="stat">
    <p></p>
    <button onclick="resetOthello()">リセット（再戦）</button><br><br>
    <span id="win">0</span> 勝 <span id="lose">0</span> 敗 <span id="draw">0</span> 引き分け
  </div>
</body>
</html>
